body{
    background-image: url(Images/pexels-martin-péchy-2078266.jpg);
    font-family: "Poppins", sans-serif;
}

header{
    margin: 0;
    padding: 0;
}

.navbar .fa{
    display: none;
}
.navbar{
    flex: 1;
    text-align: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.navbar ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #851818cc;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


.btn-flex > button:hover {
    background-color: rgb(28, 17, 5); /* Change the background color on hover */
}

.computer .btn-flex > button {
    pointer-events: none;
}/*  makes the computer button not clickable */


h1 {
    text-align: center;
    color: rgb(28, 17, 5);
    font-weight: bold; 
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 36px; 
}

/* Hide the checkbox input */
.menu-toggle {
    display: none;
}

/* Style the label to look like a button */
.btn {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}

.btn {
    cursor: pointer;
}


.dropdown-content {
    z-index: 1;
}


/* Style the dropdown links */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Change link color when hovered */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.game{
    display: flex;
    gap: 2rem;
    padding:50px;
}
.player,.computer{
    background-color: rgb(63, 71, 73,0.6);
    text-align: center;
    border-radius: 50px;
    

}
.images,.images2{
    
    width: 35rem;
    height: 10rem;
    display: flex;
    gap: 1rem; 
    padding: 5px;
    border-radius: 2px;
    justify-content: center;
    
}

.player > img, .computer > img{
    width: 10vw;
    height: 10vh;
    border-radius: 2px;
}

.btn-flex{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    padding-bottom: 10px;
    
    
}

.btn-flex > button{
    width: 70px;
    background-color: rgba(133, 24, 24, 0.8);
    color: white;
    border-radius: 5px;
    border: 0px;
    height: 30px;
    font-family: Verdana;
    font-weight: 100px;
    
}


@media (max-width: 700px) {
    .navbar ul {
        flex-direction: row; /* Stack horizontally */
        justify-content: center; /* Center items horizontally */
    }

    .navbar li {
        margin: 0 10px; /* Add horizontal margin between items */
    }

    .menu-toggle {
        display: block;
    }

    .navbar a {
        font-size: 16px;
    }

    .game {
        flex-direction: row;
        padding: 0;
    }

     .player, .computer {
        height: 45vh;
        width: 50vh;
         
    }

    .images, .images2 {
        flex-direction: row;
        justify-content: flex-start;
        height: 15vh;
        padding-left: 45px;
       
    }

    .player > img, .computer > img {
        width: 80%;
        max-width: 150px;
    }

    .btn-flex {
        flex-direction: row; /* Stack buttons horizontally */
        justify-content: center;
        gap: 10px;
    }

    .btn-flex > button {
        width: auto;
        height: auto;
        font-size: 16px;
    }



